{% extends 'base.html' %}
{% load static %}
{% block content %}
<style type="text/css">
    .od-nas{
        background-color: darkblue;
    }
    .od-nast{
        color: white;
    }
    .card-border{
        border-radius: 12px;
        border: 1px solid black;

    }
    .hight-l{
        max-height: 600px;
    }
    .hight-la{
        max-height: 500px;
    }
    .chat-message-input{
		outline: none;
		border: 1px solid #fff;
		border-top: 2px solid var(--main-background-color);
		
	}
    .chat-message-input-container{
		outline: none;
		box-shadow: none;
	}
</style>
{% if request.user.is_authenticated %}
    <div class="container">
	<div class="row">
		<div class="col-md-3 hight-l" style="overflow-y: scroll;">
			{% for message in messages %}
            <div class="card">
				<h5 class="card-header">
					{{ message.user.username }}
				</h5>
				<div class="card-body d-flex flex-row">
                    <a class="btn btn-primary m-2 px-4" href="{% url 'poruk:poruke' message.user.username %}">
                        <span class="material-icons m-auto">message</span>
                        <span class="message-btn-text m-auto pl-2">Message</span>
                    </a>
                </div>
			</div>
            {% endfor %}
		</div>
        {% if poruke %}
            <div class="col-md-9 ">
                <div class="d-flex flex-column hight-la " id='messageBody' style="overflow-y: scroll;">
                    {% for poruka in poruke %}
                        <div class="card card-border  d-flex mt-2">
                            <h5 class="d-flex mr-2 p-2 ">{{ poruka.od_user }}</h5>
                            <p class="d-flex mr-2 p-2 ">{{ poruka.body }}</p>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                <form role="form" method="POST" action="{% url 'poruk:posalji' %}">
                {% csrf_token %}
                <article class="media">
                <div class="media-content" >
                    <input type="hidden" name="to_user" value="{{ active_direct }}">
                    <div class="field d-flex">
                        <p class="control chat-message-input-container">
                            <textarea class="flex-grow-1 chat-message-input" cols="130" rows="3" name="body" placeholder="Poruka..."></textarea>
                        </p>
                    </div>
                    <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                        <button class="btn" style="background-color: blue; color: white;"type="submit" name="action" class="button is-info">Send</buttom>
                        </div>
                    </div>
                    </nav>
                </div>
                </article>
            </form>
            </div>
            <script type="text/javascript">
                setTimeout(function reload() {location.reload()}, 10000)
            </script>
        
	</div>
</div>
{% else %}
    <div class="container">
        
    </div>
{% endif %}
<script type="text/javascript">
    var messageBody = document.querySelector('#messageBody');
    messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
</script>
{% endblock content %}