<script type="text/javascript">
	// funkcija za dodavanje frenda
	function acceptFriendRequest(friend_request_id, uiUpdateFunction){
		// Izrada url-a za dodavanje (jedino rijesenje koje sam naso)
		var url = "{% url 'friend:friend-request-accept' friend_request_id=549842161561 %}".replace("549842161561", friend_request_id)
		$.ajax({
			type: 'GET',
			dataType: "json",
			url: url,
			timeout: 3000,
			success: function(data) {
				console.log("SUCCESS", data)
				if(data['response'] == "Friend request accepted."){
					// ui is updated
				}
				else if(data['response'] != null){
					alert(data['response'])
				}
			},
			error: function(data) {
				console.error("ERROR...", data)
				alert("Ne opet")
			},
			complete: function(data){
				uiUpdateFunction()
			}
		});
	}
	

</script>