<script type="text/javascript">
    function declineFriendRequest(friend_request_id, uiUpdateFunction){
        var url = "{% url 'friend:friend-request-denie' friend_request_id=549842161561 %}".replace("549842161561", friend_request_id)
        $.ajax({
			type: 'GET',
			dataType: "json",
			url: url,
			timeout: 3000,
			success: function(data) {
				console.log("SUCCESS", data)
				if(data['response'] == "Friend request denied."){
					// ui is updated
				}
				else if(data['response'] != null){
					alert(data['response'])
				}
			},
			error: function(data) {
				console.error("ERROR...", data)
				alert("Ne opet")
			},
			complete: function(data){
				uiUpdateFunction()
			}
		});
    }
</script>